$container_border_color: rgb(29, 31, 34);
$active_background_color: rgb(29, 31, 34);

.container {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;

  min-height: 16px;
  min-width: 32px;

  margin-top: 3px;
  text-align: center;
  cursor: pointer;
  border: 2px solid $container_border_color;
  font-size: 16px;
  font-weight: 400;

  &.active {
    background-color: $active_background_color;
    color: white;
  }
}
