.name {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 18px;
}

.brand {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

@media screen and (max-width: 700px) {
  .name {
    font-size: 24px;
  }

  .brand {
    font-size: 24px;
  }

  .price {
    font-size: 18px;
  }
}


