.count {
  width: 26px;
  height: 26px;
  font-weight: 400;
}

button.action {
 font-weight: 300;
  font-size: 16px;
  padding: 0;
  border-width: 1px;
  width: 22px;
  height: 22px;
  background: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
